.user-forms {
  border-radius: 10px;

  label {
    font-size: small;
    margin-bottom: 0;
  }

  input {
    font-size: small;
  }

  .form-control {
    border-radius: 5px;
  }

  .btn {
    border-radius: 5px;
  }

  #formBasicCheckbox {
    margin-top: 7px;
  }
}

